<div class="contact">
  <h2>Contact</h2>
  <ul>
    <!-- <li>Northeastern Univeristy</li>
    <li>Khoury College of Computer Sciences</li>
    <li>Boston, USA</li> -->
    <!-- <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li> -->
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 (602) 577-4001</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a
        href="mailto:rpate188@asu.edu">rpate188@asu.edu</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span>Tempe, AZ</li>
  </ul>
</div>